Recommendation system using Amazon reviews/Aditya_Kadiwal_Recommendation_systems_Jun_20A_Grp9.html
Recommendation system using Amazon reviews/.ipynb_checkpoints/Recommendation system using Amazon reviews (Surprise)-checkpoint.ipynb
Parkinsons disease predictor/.ipynb_checkpoints/EDA and Parkinsons disease predictor-checkpoint.ipynb
Concrete strength prediction/.ipynb_checkpoints/EDA and concrete strength prediction-checkpoint.ipynb
Computer vision/Aditya_Kadiwal_Computer_vision_project_Jun_20A_Grp9.ipynb
Computer vision/Aditya_Kadiwal_Computer_vision_project_Jun_20A_Grp9.html
Computer vision/Aditya_Kadiwal_Computer_vision_project2_Jun_20A_Grp9.ipynb
Computer vision/Aditya_Kadiwal_Computer_vision_project2_Jun_20A_Grp9(6).html
Bank personal loan prediction/Aditya_Kadiwal_Supervised_learning_project_Jun_20A_Grp9.ipynb
Bank personal loan prediction/.ipynb_checkpoints/EDA and personal loan prediction-checkpoint.ipynb
Bank personal loan prediction/.ipynb_checkpoints/Aditya_Kadiwal_Supervised_learning_project_Jun_20A_Grp9-checkpoint.ipynb
